<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target includeMode="feature" name="IFx Workbench Target">
<locations>
<location path="${workspace_loc}/fr.irit.ifx.target/delta.pack/eclipse" type="Directory"/>
<location includeAllPlatforms="false" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.m2m.atl.sdk.feature.group" version="3.1.2.v20110119-0755"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.6.1.v20100914-1218"/>
<repository location="http://download.eclipse.org/releases/helios/"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.rcp.sdk.id" version="3.6.0.M20110210-1200"/>
<repository location="http://download.eclipse.org/releases/helios/"/>
</location>
<location path="${workspace_loc}/fr.irit.ifx.target/prereqs" type="Directory"/>
</locations>
</target>
